# Node.js
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build output
dist/

# Dependency lock files
package-lock.json
yarn.lock

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage/

# MongoDB
/data/db/